.contact-section{
    background-color: #030C18;
    width: 99vw;
}

.contact-container{
    margin: 10px 90px 30px 90px;
}

.contact-methods{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contact-info{
    background-color: #0E1723;
    border-radius: 10px;
    border: 1px solid #161F2D;
    flex: 2;
    padding: 30px;
}

.contact-form{
    background-color: #0E1723;
    border-radius: 10px;
    border: 1px solid #161F2D;
    flex: 4;
    padding: 30px;
}

.contact-comp{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-icon-wrapper{
    background-color: #3b82f6;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon-wrapper.dark{
    background-color: #373E4F;
}

.contact-icon-wrapper svg{
    color: #fff;
    font-size: 20px;
}

.contact-method{
    margin: 0;
    font-size: 17px;
    color: #fff;
}

.contact-value{
    margin: 0;
    font-size: 16px;
    color: #94a3b8; 
}