form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input{
    border-radius: 8px;
    border: 2px solid #1E2632;
    height: 40px;
    background-color: #0E1723;
}

.dual-inputs{
    display: flex;
    flex-direction: row;
    gap: 10px;
} 

.dual-inputs input{
    flex: 1;
}

form textarea{
    border-radius: 8px;
    border: 2px solid #1E2632;
    background-color: #0E1723;
    flex: 1;
    min-height: 180px;
    padding: 15px;
    color: #fff;
}

input{
    padding: 0 15px;
    color: #fff;
}

input::placeholder, textarea::placeholder{
    color: #4E586B;
}

.form-error {
    margin-top: 12px;
    color: #ff6b6b;
    font-size: 14px;
    font-weight: 400;
}

.form-success {
    margin-top: 12px;
    color: #2F80ED;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width:1024px) {

}
  
@media (max-width:767px) {
    .dual-inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-shrink: 0;
        min-height: 100px;
    } 
}