form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input{
    border-radius: 8px;
    border: 2px solid #1E2632;
    height: 40px;
    background-color: #0E1723;
}

.dual-inputs{
    display: flex;
    flex-direction: row;
    gap: 10px;
} 

.dual-inputs input{
    flex: 1;
}

form textarea{
    border-radius: 8px;
    border: 2px solid #1E2632;
    background-color: #0E1723;
    flex: 1;
    min-height: 180px;
    padding: 15px;
}

input{
    padding: 0 15px;
}

input::placeholder, textarea::placeholder{
    color: #4E586B;
}