.featured-project-section{
    background-color: #030C18;
    width: 100vw;
}

.featured-project-container{
    margin: 30px 90px 30px 90px;
}

.featured-project-text-and-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 8px; 
    border: 2px solid #18365F;
    background-color: #0b1528; 
    padding: 10px;
    width: fit-content;
}
 
.featured-project-text-and-icon p{
    margin: 0;
    color: #3b82f6; 
}

.featured-project-text-and-icon svg{
    color: #3b82f6; 
    font-size: 1.1rem;
    width: 1.1rem;
    height: 1.1rem;
}

.project-title-and-subtitle .project-title{
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    margin: 30px 0;
}

.project-title-and-subtitle .project-subtitle{
    margin: 0;
    color: #8E98A6;
    font-size: 21px;
}

.featured-project-about, 
.featured-project-key-feautures, 
.featured-project-tech-stack{
    margin-top: 30px;
}

.featured-project-about .about-project-title, 
.featured-project-key-feautures .feautured-project-title,
.featured-project-tech-stack .tech-stack-title
{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin: 0;
}

.featured-project-about .about-project-info{
    margin: 10px 0;
    color: #8E98A6;
    font-size: 19px;
}

.featured-project-content img{
    width: 40vw;
    filter: drop-shadow(4px -6px 6px rgba(59, 130, 246, .6));
    margin-top: 60px;
}

.list-of-features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    gap: 5px;

}

.key-feature-comp{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.key-feature-comp div{
    background-color: #3b82f6;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key-feature-comp div svg{
    color: #fff;
    font-size: 0.9rem;
}

.list-of-features p{
    margin: 0;
    color: #8E98A6;
    font-size: 16px;
}

.project-tech-stack-and-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.featured-project-tech-stack div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    width: fit-content;
}

.featured-project-tech-stack div p{
    border-radius: 8px; 
    border: 2px solid #18365F;
    background-color: #0b1528; 
    padding: 5px;
    width: fit-content;
    color: #8E98A6;
    font-size: 15px;
    margin: 20px 0 0 0;
}

.featured-project-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #115EE5;
    color: #fff;
    border-radius: 4px;
    font-size: 17px;
    padding: 12px 55px;
}

.btn.view-code{
    background-color: transparent;
    border: 1px solid #fff;
    padding: 11px 55px;
}

.btn p{
    margin: 0;
}
   
.featured-project-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "titles    mockup"
    "about     mockup"
    "features  mockup"
    "stackAndBtns stackAndBtns"
     ;
}




/* Assigning grid template areas to elements */
.project-title-and-subtitle {grid-area: titles;}
.mockup {grid-area: mockup;}
.featured-project-about{grid-area: about;}
.featured-project-key-feautures{grid-area: features;}
.project-tech-stack-and-buttons{grid-area: stackAndBtns;}
