.experience-section{
    background-color: #030C18;
    width: 100vw;
}

.experience-container{
    margin: 100px 90px 30px 90px;
}

.experince-timeline{
    margin-top: 25px;
}

.timeline-and-pic{
    display: flex;
    flex-direction: row;
}

.exp-pic{
    width: 65%;
}      
 
@media (max-width:1024px) {
    .exp-pic{
        width: 60%;
    }      
}

@media (max-width:767px) {
   
    .experience-container{
        margin: 60px 20px;
    }

       .exp-pic{
        width: 100%;
    }  
    
    .timeline-and-pic{
        flex-direction: column-reverse;
    } 
}