.header-title{
    font-size: 26px;
    margin-bottom: 0;
    color: #fff;
}

.header-subtitle{
    color: #8E98A6;
    font-size: 21px;
    margin-top: 8px;
}

@media (max-width:1024px) {
    
}


@media (max-width:767px) {
    .header-title, .header-subtitle{
        text-align: center;
    }

    .header-title{
        font-size: 26px;
    }

    .header-subtitle{
        font-size: 19px;
    }
}