.tech-comp{
    background-color: #0E1723;
    border-radius: 10px;
    border: 1px solid #161F2D;
    flex: 1;
    padding: 10px 15px;
}

.skill-pic-and-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tech-pic-wrapper{
    height: auto;
    width: 22px;
}

.tech-pic-wrapper img{
    height: 100%;
    width: 100%;
}

.tech-name{
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
}

.tech-skill-name{
    font-size: 14px;
    color: #94a3b8; 
    margin: 3px 0;
}