
.main-container{
  background-color: #000;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.projects-section{
   gap: 10px;
   display: flex;
   flex-direction: column;
}  