 .blue-btn{
    background-color: #115EE5;
    border-radius: 4px;
    padding: 0px 22px;
    font-size: 14px;
    color: #fff;
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}  